:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: sans-serif;
  color: #fafafa;
  background-color: #1d212b;
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}

a {
  color: #c400c4;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s infinite;
}
